.footer-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  > * {
    // padding: 10px;
    // flex: 1 100%;
    display: flex;
  }
}

.title {
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
  text-decoration: none;
}
